/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@500;600;700;800;900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

/* semantic variables for this project */
:root {
  --text-font: 'Signika Negative', sans-serif;
  --title-font: 'Inknut Antiqua', serif;
  --primary-color: #b126e2;
  --secondary-color: #ffec8e;
  --text-light: #ccc6ce;
  --text-dark: #300441;
  --title-light: #f1f1f1;
  --title-dark: #0a010e;
  --border-radius: 3px;
  --box-shadow: 1px 1px 5px #1e08255b;
  --primary-gradient: linear-gradient(#b126e2, #b026e265);
  --body-bg-gradient: radial-gradient(#100414, #0a010e, #300441);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

*:focus {
  outline: 2px solid var(--secondary-color);
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 17px;
  color: var(--text-light);
  line-height: 1.4em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: var(--body-bg-gradient);
  transition: color 0.3s, background-color 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: line-through;
}

img {
  max-width: 100%;
}
