/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@500;600;700;800;900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

/* semantic variables for this project */
:root {
  --text-font: 'Signika Negative', sans-serif;
  --title-font: 'Inknut Antiqua', serif;
  --primary-color: #B126E2;
  --secondary-color: #FFEC8E;
  --text-light: #F2F2F2;
  --text-dark: #2B2B2B;
  --title-light: #F1F1F1;
  --title-dark: #1B1B1B;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

body {
  min-height: 100vh;
  color: var(--text-dark);
  transition: color 0.5s, background-color 0.5s;
  font-family: var(--text-font);
  font-weight: 400;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: text-decoration 0.3s ease;
}

a:hover {
  text-decoration: underline;
  font-weight: 600;
}

img {
  max-width: 100%;
}